.circle-status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #b9bbbe;
  margin-right: 6px;
  box-shadow: 0 0 0 1px #d9d9d9;
  vertical-align: middle;
  position: relative;
}

.circle-status.online {
  background: #18ac35ff;
}

.circle-status-pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background: rgba(24, 172, 53, 0.4);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 1.2s infinite;
  z-index: 0;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0.7;
  }
  70% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
  }
}