.logoContainer {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 8px;
  height: 64px; /* Cùng chiều cao với header */
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.custom-menu .ant-menu-item-selected) {
  background-color: #4880ff !important;
  color: #fff !important;
}
:global(.custom-menu .ant-menu-item:hover) {
  background-color: #4880ff !important;
  color: #fff !important;
}

:global(.custom-menu .ant-menu-item-active) {
  background-color: #f0f7ff !important;
  color: #357abd !important;
}
/* MenuContent.module.css */
:global(.custom-menu .ant-menu-item-group-title) {
  font-size: 12px;
  color: #8c8c8c;
  font-weight: 600;
  text-transform: uppercase;
  /* padding-left: 24px; */
  /* margin-top: 8px; */
  /* margin-bottom: 4px; */
  /* letter-spacing: 1px; */
}

.custom-sider {
  scrollbar-width: none; /* Ẩn thanh cuộn (Firefox) */
  -ms-overflow-style: none; /* Ẩn thanh cuộn (IE/Edge) */
}

.custom-sider::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn (Chrome, Safari) */
}
.menuWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border-bottom: 1px solid #f0f0f0;
}

.menuMain {
  flex: 1;
  overflow-y: auto;
}

.menuBottom {
  border-top: 1px solid #f0f0f0;
  position: sticky;
  bottom: 0;
  z-index: 10;
}
.menuMain::-webkit-scrollbar {
  width: 6px; 
  height: 6px;
}

.menuMain::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.menuMain::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: content-box;
}

.menuMain::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
  background-clip: content-box;
}

.menuMain::-webkit-scrollbar-track:hover {
  background: #f5f5f5;
}
