.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
  /* Hiệu ứng sóng màu xanh */
  background-image: url("/images/login-background.png");
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.reset-form-wrapper {
  background: #ffffff;
  padding: 37px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 550px;
}

/* Tùy chỉnh nhỏ cho các label và button của AntD */
.reset-label .ant-form-item-label > label {
  font-weight: 500;
  color: #595959;
}

/* .ant-btn-primary {
  background: #4a90e2;
  border-color: #4a90e2;
  font-weight: bold;
}

.ant-btn-primary:hover {
  background: #357abd;
  border-color: #357abd;
} */

.reset-form-wrapper .ant-form-item-label > label {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.reset-form-wrapper .ant-form-item-label > label::after {
  display: none !important;
}
.reset-button {
  display: flex;
  width: 80% !important;
  margin: 0 auto;
  background: #4880ff !important;
  font-weight: normal;
  margin-top: 10px;
}
/* Responsive padding cho màn hình nhỏ */
@media (max-width: 600px) {
  .reset-form-wrapper {
    padding: 30px 18px;
  }
}
.resetPass-loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Chiều cao cố định để spinner nằm giữa */
}
.expiry-warning-image {
  width: 60%;
  height: 60%;
  margin: 0 auto;
}
.expiry-warning-text {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}
